/* Centraliza e estiliza a paginação */
.pagination {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Centraliza os botões verticalmente, se necessário */
  margin: 20px 0; /* Espaçamento entre a grid de playlists e os botões de paginação */
  gap: 18px; /* Espaçamento entre os botões */
}

/* Estilização dos botões */
.pagination button {
  padding: 10px 20px;
  background-color: #73440a; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
}

.pagination button:hover {
  background-color: #412103;
  transform: scale(1.05); /* Efeito de leve zoom no hover */
}

.pagination button:disabled {
  background-color: #555; /* Cor do botão desabilitado */
  cursor: not-allowed;
}


/* Responsividade */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
  }

  .custom-button {
    width: 100%;
  }
}