/* Import Google Fonts via CSS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Centraliza e estiliza a paginação */
.pagination {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Centraliza os botões verticalmente, se necessário */
  margin: 20px 0; /* Espaçamento entre a grid de playlists e os botões de paginação */
  gap: 18px; /* Espaçamento entre os botões */
}

/* Estilização dos botões */
.pagination button {
  padding: 10px 20px;
  background-color: #73440a; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
}

.pagination button:hover {
  background-color: #412103;
  transform: scale(1.05); /* Efeito de leve zoom no hover */
}

.pagination button:disabled {
  background-color: #555; /* Cor do botão desabilitado */
  cursor: not-allowed;
}


/* Responsividade */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
  }

  .custom-button {
    width: 100%;
  }
}